.header {
    color: black;
    display: inline;  
    text-align: center;
    justify-content:  space-around;
    width: 10vw;
    font-family: 'Trebuchet MS';
    font-weight: bolder;
}

.header button {
    font-weight: bold;
    color: rgb(237, 143, 184);
    height: 2rem;
    width: auto;
    background-color: rgb(150, 28, 87);
    border-radius: 15px;
    border: 2px solid rgb(60, 12, 35);
    padding: .5rem;
    margin-bottom: 20px;
}

.header button:hover {
    cursor: pointer;
    color: rgb(195, 115, 152);
    background-color: rgb(109, 24, 65);
}
